---
interface Props {
  color: string;
}

const { color } = Astro.props;
const style = `color: ${color}`;
---

<a style={style} href="/" class="ignore-url-check">Home</a>
<a style={style} href="/charter">Charter</a>
<a style={style} href="/sitemap-0">Sitemap</a>
<a style={style} href="/api">API</a>

<style>
  a {
    text-decoration: none;
  }
</style>
