---
import Nav from "../components/Nav.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
interface Props {
  title: string;
  embedTitle: string;
  embedDescription: string
}

const { title, embedTitle, embedDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="twitter:card" content="summary_image" /><meta
      name="twitter:image"
      content="https://stoako.com/images/stoako.png"
    /><meta
      name="twitter:image:src"
      content="https://stoako.com/images/stoako.png"
    /><meta
      property="og:title"
      content={embedTitle}
    /><meta
      property="og:description"
      content={embedDescription}
    />
    <meta
      name="description"
      content={embedDescription}
    />
    <meta name="theme-color" content="#835432" /><link
      rel="sitemap"
      href="/sitemap-index.xml"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="content">
      <table align="left" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td colspan="4" valign="top" align="left">
              <Nav />
            </td>
          </tr>
          <tr>
            <td valign="top">
              <br />
              <Sidebar />
            </td>
            <td class="width-1px" id="line">
              <img src="/images/1pxtransparent.gif" width="1" height="1" />
            </td>
            <td
              valign="top"
              align="left"
              class="width-99p"
              style="padding: 0 7px;"
            >
              <br />
              <slot />
              <br />
              <Footer />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ThemeToggle/>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const anchors = document.getElementsByTagName("a");
    for (let anchor of anchors) {
      // no #goto links, 2000s style site anyways. Too lazy to make this proper.
      if (anchor.href.includes('#') && !anchor.classList.contains("ignore-url-check") && !anchor.href.includes("://thcotd.org") ) {
        anchor.style.color = "rgb(225,100,100)";
      }
    }
  });
</script>

<style is:global>
  :root {
    --c-body-bg: slategrey;
    /* --c-body-bg: lightsteelblue; */
    --c-bg: whitesmoke;
    --c-text: #2c2c2c;
    /* --c-accent: cadetblue; */
    /* --c-accent: black; */
    /* --c-accent: slategrey; */
    --c-accent: navy;
    --c-hover: black;
  }
  html,
  body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--c-body-bg);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--c-text);
  }

  #content > table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
    background-color: var(--c-bg);
    border-color: #aaaaaa;
    border-right-style: ridge;
    border-left-style: ridge;
  }

  #content {
    width: 55rem;
    margin: 0 auto;
  }

  #line {
    background-color: var(--c-text);
  }

  .width-99p {
    width: 99%;
  }
  .width-1px {
    width: 1px;
  }
  .accent.bg {
    background-color: var(--c-accent);
    color: white;
  }
  .accent.fg {
    color: var(--c-accent);
  }
  .no-margin {
    margin: 0;
  }
  table p,
  table strong {
    margin: 0;
  }
  
  .data-table tr th {
    background-color: var(--c-accent);
    color: whitesmoke;
    padding: 2px 5px;
    font-size: 0.8rem;
  }
  .data-table tr td {
    font-size: 0.8rem;
  }

  .data-table tr:nth-child(odd) {
    background-color: #e0e0e0;
  }
</style>
